body {
  height               : 10000px;
  margin               : 0px;
  padding              : 0px;
  /* above two can be overwritten if necessary */
  color                : white;
  background-image     : url("assets/bg2.jpg");
  background-attachment: fixed;
  /* Keeps the bg image in place even after scrolling */
  background-size      : 100%
    /* resizes the bg image to fit the screen */
}

* {
  box-sizing : border-box;
  font-family: 'Montserrat', sans-serif;
}

/*  <------x------------------x-------- CSS for navbar -----x----------------x----->  */

.logo-text {
  float           : right;
  border          : 1px solid #0a1630;
  border-radius   : 25px;
  background-color: #000000;
  color           : white;
  font-size       : 30px;
  font-weight     : 600;
  padding         : 7px;
  margin          : 0px 0px;
}

/* the above text-only logo is styled with the above properties. Most important of all is 'float: left' which makes the element(div here) float left  */

.navigation {
  position        : fixed;
  background-color: #0d1d30;
  padding         : 4px 8px;
  top             : 0;
  width           : 100%;
  height          : auto;
}

.navigation nav a {
  float          : left;
  /* this 'float : left' is used to place the links to left */
  color          : #f2f2f2;
  text-align     : center;
  padding        : 14px 16px;
  text-decoration: none;
  font-size      : 17px;
  margin         : 0px 5px;
}


header::after {
  content: '';
  display: table;
  clear  : both;
}

/* ^Magic to get your navbar back because the float left & right are ignored by the navigation(name of container)*/

.navigation nav a:hover {
  background-color: #16989f;
  border-radius   : 15px;
}

.navigation nav a.active {
  background-color: #16989f;
  border-radius   : 15px
}

/*  <------x------------------x-------- CSS for navbar over -----x----------------x----->  */
.container {
  margin-top: 6%;
  /* Add a top margin to avoid content overlay */
}